// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
  font-size: 1.1rem;
  padding: 1rem 2rem;
  box-shadow: none;
  border: none;
  background: $secondary;
  color: white;
  font-family: $title-font;
  letter-spacing: 0.5px;
  border-radius: 4px;
  cursor: pointer;

  &:hover, &:focus {
    background: darken($secondary, 5%);
  }
}
