.page-wrap {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;

  .row {
    max-width: 1200px;
  }
}

header {
  padding: 1rem 0 0.25rem;
  border-bottom: 1px solid $light-grey;

  h1 {
    margin-bottom: .5rem;
  }

  p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    color: $dark-grey;

  }
}

section {
  margin: 2rem auto 3rem;
  .section--title {
    font-size: 1.45rem;
    font-weight: 500;
    color: $dark-grey;
  }
  > p {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
  > .row {
    margin: 0 -0.9375rem;
  }
}


.swatch {
  height: 150px;
  background: #eee;
  border-radius: 4px;
  margin-bottom: 0.5rem;

  .tinted &, .toned &{
    height: 50px;
  }

  &-labels {

    .label {
      padding: 0 8px;
      font-size: 0.85rem;
      margin-bottom: 4px;
      font-weight: 600;
      display: flex;
      justify-content: space-between;

      span {
        font-weight: normal;
        color: $dark-grey;
      }


    }
  }
}


$primary-color: #D9F5E8;
$primary-color-name: 'Mint';

$secondary-color: #37cbc2;
$secondary-color-name: 'Teal';

$tertiary-color: #fb3;
$tertiary-color-name: 'Gold';

$accent-color: #FF6347;
$accent-color-name: 'Tomato';

$colors: (
    primary: $primary-color,
    secondary: $secondary-color,
    tertiary: $tertiary-color,
    accent: $accent-color
);




@each $color-type, $color-value in $colors {
    // Get the color's name
    .color-#{$color-type} {
      .swatch {
        background-color: #{$color-value};
      }

      &.tinted {
        .swatch {
          //background-color: adjust-hue(transparentize($color-value, 0.5),-10deg);
          //background-color: transparentize(adjust-hue($color-value, -10deg), 0.5);
          background-color: lighten(adjust-hue($color-value, 2deg), 6%);


        }
      }

      &.toned {
        .swatch {
          //background-color: transparentize($color-value, 0.5);
          background-color: darken(adjust-hue($color-value, -5deg), 5%);

        }
      }
    }
}


.font-family {
  border: 1px solid $tint-grey;
  padding: 0 2rem 2rem;
  border-radius: 8px;
  margin-bottom: 2rem;

  &.font-merriweather {
    h4, p {
      font-family: $title-font;
    }
  }
  &.font-roboto {
    h4, p {
      font-family: $body-font;
    }
  }

  .font-name {
    margin-top:1.5rem;
    margin-bottom: 0.5rem;
    font-size: 3rem;
    color: $mid-grey;
  }
  .font-preview {
    margin: 0;
    font-size: 1.75rem;

    span {
      color: $accent-color;

      + span {
        color: $secondary-color;
        font-weight: bold;

        + span {
          color: $tertiary-color;
          font-weight: normal;

        }

      }
    }
  }
}


.type-scales {
  h1,h2,h3,h4,h5,h6,p {
    margin: 2rem 0;
    > span {
      font-family: $body-font;
      font-size: 1rem;
      text-transform: uppercase;
      display: inline-block;
      width: 50px;
      vertical-align: middle;
      color: $mid-grey;
    }
  }
}
