.page-wrap {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation-delay: .95s;

  .row {
    max-width: 1200px;
  }
}

header {
  padding: 1rem 0;
  border-bottom: 0;

  .row {
    align-items: center;
    max-width: 1200px;
  }

  h1 {
    margin-bottom: .5rem;
  }

  p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    color: $dark-grey;

  }
}

.top-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  @media #{$small-only} {
    margin-top: 1rem;
    justify-content: center;
  }

  li {
    margin-left: 2rem;

    @media #{$small-only} {
      font-size: .9rem;
      margin-left: 0;
      margin: .25rem .75rem;
    }

    a {
      transition: all .25s ease-in-out;
    }

    &.community-site {
      > a {
        color: $primary;
        border: 2px solid $light-grey;
        padding: 8px 12px;
        @media #{$small-only} {
          padding: 4px;
          border: none;
        }

        &:hover,
        &:focus {
          text-decoration: none;
          border-color: $primary;
        }
      }
    }
  }
}


// hero
.page-hero {
  $hero-height : 395px;
  height: $hero-height;
  position: relative;
  background: $primary;
  animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

  &.has--video {
    //min-height: $hero-height + 75;
    height: auto;

    .page-hero--content {
        //min-height: $hero-height + 75;
        position: relative;
        height: auto;
        padding: 2.5rem 0;
        @media #{$small-only} {
          padding: 1rem 0;

        }

        .hero--button {
          background: black;
          border: 2px solid white;
          font-weight: 600;
          margin: 1rem 0;
          animation: fade-in 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation-delay: 1.5s;
          transition: all .25s cubic-bezier(0.250, 0.460, 0.450, 0.940);


          &:hover,
          &:focus {
            color: $primary;
            text-decoration: none;
          }
        }

    }
  }

  .fb-video {
    background: transparentize(#000, .95);
    margin: 1.5rem 0;
    //animation: fade-in 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  }



  &--image {
    height: auto;
    object-fit: cover;;
  }

  &--content {
    width: 100%;
    height: $hero-height;
    position: absolute;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


  }
}

// hero text
.hero {
  &--subtitle,
  &--title {
    font-weight: 700;
    color: white;
    font-size: 48px;
    margin: 0;
    opacity: 0;
    @media #{$small-only} {
      font-size: 32px;
    }
  }

  &--title {
	  animation: fade-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: .5s;

  }

  &--subtitle {
    margin-top: 8px;
    font-size: 22px;
    font-weight: 400;
    animation: fade-in-top .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: .5s;
    @media #{$small-only} {
      font-size: 18px;
    }


  }
}


.event-signup {
  fieldset {
    margin: 0;
    margin-bottom: 36px;
    padding: 0;

    legend {
      font-size: 28px;
      margin-bottom: 16px;
      font-weight: 500;
      font-family: $title-font;

      > span {
        font-size: 28px;
        color: $primary;
        text-align: center;
        padding-right: .75rem;
      }
    }

    .help-text {
      padding: 4px 0;
      margin-top: -1rem;
      display: inline-block;
      margin-bottom: 1rem;
      color: $mid-grey;
      font-style: normal;
    }


  }
}

// ticket types
.ticket-type {
  margin-bottom: 1rem;
  // max-width: 550px;

  input[type="radio"] {
    display:none;

    &:hover, &:focus {
      & + label h4 {
        color: $primary;
      }
    }

    &:checked + label  {
      border:1px solid $primary;
      box-shadow: 0 2px 2px $light-grey;
      h4 {
        color: $primary;
      }
    }
  }

  > label {
    border-radius: 4px;
    border: 1px solid $light-grey;
    padding: 1rem 1.25rem;
    display: block;
    transition: all .5s ease-in-out;

    h4,p {
      margin: 0;
      transition: all .25s ease;
    }

    p {
      font-size: .9rem;
      line-height: 1.4;
      color: $dark-grey;
    }

    h4 {
      letter-spacing: 1px;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 6px;
      display: flex;
      justify-content: space-between;

      .price {
        font-family: $body-font;
        font-weight: 400;
        color: $slate-grey;
        letter-spacing: 0.5px;
        font-size: 15px;
      }
    }
  }
}


.success--message {
  margin-bottom: 70px;
  h5 {
    font-size: 1.6rem;

    span {
      color: $slate;
      border-bottom: 1px dotted $slate-grey;

    }
  }

  p {
    span {
      color: $slate;
      border-bottom: 1px dotted $slate-grey;
    }
  }
}

.social-sharing {
  p {
    color: $slate;
    font-size: 1.4rem;

  }
}

section {
  margin: 2rem auto 3rem;
  .section--title {
    font-size: 1.45rem;
    font-weight: 500;
    color: $dark-grey;
    margin-top: 2rem;
    margin-bottom: .5rem;

    &.text-centered {
      text-align: center;
      font-size: 1.1rem;
    }
  }
  > p {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
}

.faq-item {
  margin-bottom: 1.5rem;
}

.faq--question {
  font-size: 1.1rem;
  margin-bottom: 8px;
}
.faq--answer {
  margin-top: 0;
  color: $dark-grey;
}




  .partner--item {
    padding: 1rem 0;
    text-align: center;

    img {
      max-height: 100px;
    }

    &.global-partner {
      img {
        max-height: 50px;
      }
    }
  }
