[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
  box-shadow: none;
  background: none;
  height: 44px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid $light-grey;
  font-family: $title-font;
  font-weight: 400;
  letter-spacing: 0.5px;
  //text-transform: uppercase;
  color: $text-color;
  font-size: .9rem;
  transition: all .25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;


  &:focus {
    background: white;
    border: 1px solid $slate-grey;
    box-shadow: 0 0 5px #eee;
  }

  &.has-error {
    border-color: $secondary;
  }
}

label {
  font-size: .95rem;
}

select {
  background-color: white;
  height: 44px;
  padding-left: 16px;
  font-family: $title-font;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: .9rem;
  transition: all .25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;



  &:focus {
    background: white;
    box-shadow: none;
  }

  &.small {
    display: block;
    max-width: 300px;
  }

  &.has-error {
    border-color: $secondary;
  }
}

textarea {
  padding: 16px;
  font-size: .95rem;
  margin-bottom: 0rem;
  transition: all .25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;


}
