/**
 * Basic typography style
 * from http://type-scale.com/
 */

 html {font-size: 1em;}

 body {
   background-color: white;
   font-family: $body-font;
   font-weight: 300;
   line-height: 1.45;
   color: #333;
 }

 p {margin-bottom: 1.3em;}

 h1, h2, h3, h4, h5, h6 {
   font-family: $title-font;
   margin: 1.414em 0 0.5em;
   font-weight: inherit;
   line-height: 1.2;
 }

 h1 {
   margin-top: 0;
   font-size: 3.157em;
 }

 h2 {font-size: 2.369em;}

 h3 {font-size: 1.777em;}

 h4 {font-size: 1.333em;}

 small, .font_small {font-size: 0.75em;}
